#contact_modal {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  border: 0;
  background-color: transparent;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photograph-header .photograph-banner {
  display: flex;
}

#contact_modal {
  position: fixed;
  overflow: auto;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  backdrop-filter: contrast(50%);
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.contact_button:hover,
.contact_button:focus {
  background-color: #db8876;
  color: #000000;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  max-width: 669px;
  min-width: 669px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px 35px 35px 35px;
  margin: 20px auto;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25);
}

.modal header {
  justify-content: space-between;
  width: 100%;
  height: auto;
  align-items: baseline;
  margin-bottom: 15px;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: left;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form div:nth-child(1) {
  margin-bottom: 0px;
}

form div:nth-child(2) {
  margin-bottom: 0px;
}

form div:nth-child(3) {
  margin-bottom: 10px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 36px;
  font-weight: 400;
  padding: 0 20px;
}

form textarea {
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 400;
  resize: none;
}

.photographer-banner {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.photographer-banner img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.photographer-banner h1 {
  font-size: 64px;
  font-weight: 400;
  color: #d3573c;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 0px;
}

@media screen and (max-width: 1200px) {
  .photographer-banner h1 {
    font-size: 50px;
  }
}

.photographer-banner .user-text p:nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  margin-top: 10px;
  color: #901c1c;
}

.photographer-banner .user-text p:nth-child(3) {
  font-weight: 400;
  font-size: 18px;
  color: #525252;
  margin-top: 15px;
}

.photograph-medias {
  margin-bottom: 4rem;
}

.filter {
  display: flex;
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  position: relative;
  align-items: center;
}

.choice {
  background-color: #901c1c;
  width: 12%;
  margin-left: 45px;
  color: white;
  border-radius: 5px;
  padding: 20px;
  margin-top: 5px;
  cursor: pointer;
  font-size: 18px;
  border: none;
  font-weight: bold;
}

.choice * {
  border: 2px solid white;
}

.photograph-medias-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 100px;
  gap: 95px;
}

.media-card img,
.media-card video {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.media-card .media-text img {
  width: 19px;
  height: 19px;
}

.heart:hover,
.heart:focus {
  transform: scale(1.1);
  filter: brightness(0) saturate(100%) invert(54%) sepia(46%) saturate(421%)
    hue-rotate(323deg) brightness(103%) contrast(89%);
}

.media-card .media-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #911c1c;
}

.media-card .media-text h2 {
  font-size: 17px;
  font-weight: 400;
}

.media-text .button-like {
  display: flex;
  align-items: center;
  gap: 5px;
}

.headband {
  position: fixed;
  bottom: 0;
  right: 35px;
  width: 367px;
  height: 70px;
  background: #db8876;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px 5px 0px 0px;
}

.headband .likeClass {
  display: flex;
  align-items: center;
  gap: 7px;
}

.lightbox {
  display: none;
  position: fixed;
  overflow: auto;
  top: 0px;
  left: 0px;
  width: 1050px;
  height: 900px;
  width: 100%;
  height: 100%;
  background-color: white;
  right: 0px;
  padding: 62px 195px;
}

.lightbox_media {
  justify-content: flex-start;
}

.media-container {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 70vw;
  height: 90vh;
}

.media-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

#lightbox-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  object-position: center;
}

.lightbox-text {
  position: absolute;
  bottom: 8px;
  left: 14.5%;
}

.lightbox-text h2 {
  color: #901c1c;
  font-weight: 400;
}

#lightbox-close {
  width: 42px;
  height: 42px;
  cursor: pointer;
  position: absolute;
  right: 130px;
  top: 10%;
}

#lightbox-left,
#lightbox-right {
  width: 40px;
  height: auto;
  cursor: pointer;
}

.lightbox_media .previous {
  position: absolute;
  left: 130px;
  top: 50%;
}

.lightbox_media .next {
  position: absolute;
  right: 130px;
  top: 50%;
}
