@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #911c1c;
  margin-right: 100px;
  font-weight: 400;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article a {
  text-decoration: none;
}

.photographer_section article a:focus {
  width: 100%;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

.photographer_section article img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.photographer_section article .user {
  text-align: center;
}

.photographer_section article p:nth-child(2) {
  font-weight: 400;
  font-size: 15px;
  color: #901c1c;
  margin-top: 0px;
  margin-bottom: 0px;
}

.photographer_section article p:nth-child(3) {
  font-weight: 400;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #000000;
}

.photographer_section article p:nth-child(4) {
  font-weight: 400;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #757575;
}
